<div class="container">

  <div class="alert alert-success alert-dismissible" role="alert" *ngIf="isSuccess === true">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="isSuccess === false">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form #form="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" #usernameInput class="form-control" name="username" placeholder="Username" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" #passwordInput class="form-control" name="password" placeholder="Password" name="password" required>
    </div>
    <button class="btn btn-primary" (click)="onSubmit(usernameInput.value, passwordInput.value)">Login</button>
  </form>

</div>