<div class="container">

  <form #form="ngForm">
    <div class="form-group">
      <label for="placeName">Name</label>
      <input type="text" class="form-control" name="placeName" placeholder="Place name..." required
        [(ngModel)]="createPlaceModel.placeName">
    </div>
    <div class="form-group">
      <label for="placeAddress">Address</label>
      <input type="text" class="form-control" name="placeAddress" placeholder="Place address..." name="placeAddress"
        [(ngModel)]="createPlaceModel.placeAddress">
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <select class="form-control" name="selectedCityId" [(ngModel)]="createPlaceModel.cityId">
        <option *ngFor="let city of cities$ | async" value="{{city._id}}">
          {{city.name}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="imagesInput">Select images...</label>
      <input type="file" class="form-control-file" id="imagesInput" multiple (change)="getFileDetails($event)">
    </div>
    <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
  </form>

</div>